# Seqr AWS Infrastructure - Development Environment Configuration
# Copy this file to terraform-dev.tfvars and fill in the values

# Core Configuration
aws_region  = "ap-southeast-2"
prefix      = "mcri"
environment = "dev"
cost_centre = "CM60607"     # Change to your cost centre

# Networking
# vpc_id = ""                      # Leave empty to use default VPC
#subnet_cidr_az1 = "172.31.254.0/28"   # /28 = 16 IP addresses in AZ1
#subnet_cidr_az2 = "172.31.254.16/28"  # /28 = 16 IP addresses in AZ2

subnet_cidr_az1 = "172.31.252.0/24"
subnet_cidr_az2 = "172.31.253.0/24"

allowed_ssh_cidrs = [
  "0.0.0.0/0"                         # CHANGE THIS: Restrict to your IP range
]

# Bastion Host
bastion_instance_type = "t3.micro"
bastion_key_name      = "id_ed25519_mcri_aws"
# bastion_ami_id      = ""       # Leave empty to use latest Amazon Linux 2023

# Aurora PostgreSQL
aurora_instance_class           = "db.t3.medium"
aurora_master_username          = "seqr"
aurora_master_password          = "CHANGE_ME_STRONG_PASSWORD"  # CHANGE THIS
aurora_database_name            = "seqrdb"
aurora_backup_retention_period  = 7
aurora_skip_final_snapshot      = true  # Set to false for production

# Clickhouse EC2
clickhouse_instance_type = "t3.xlarge"
# clickhouse_ami_id      = ""    # Leave empty to use latest Amazon Linux 2023
#clickhouse_volume_size   = 100
clickhouse_key_name      = "id_ed25519_mcri_aws"

clickhouse_root_volume_size = 30                                                                                                                                                                                                                                                                                          
clickhouse_data_volume_size = 100  

# Add additional trusted origins eg: for development, port forwarding etc
additional_trusted_origins = ["http://localhost:8167", "http://localhost:8167,https://seqrtest.mcri.edu.au"]  
